<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Query App</title>

</head>
<body>
<h1> Elasticsearch Query API Challenge</h1> 
<hr> 
    <form action="/" methods="post" autocplete="off">
        <label for="queryID">query id: </label>
        <input type="text" name="queryID" id="queryID" values="{{queryID}}">
        <input type="submit" value="search">
    </form>
    <br><br>
    
    <form methods="post" action="/">
        <label for="fieldsearch">field query: </label>
        <select id="queryField" name="queryField">
            {% for field in fields %}
            <option value="{{field}}">{{field}}</option>
            {% endfor %}
        </select>
        <label for="queryKeyword">keywords:</label>
        <input type="text" name="queryKeyword" id="queryKeyword" values="{{queryKeyword}}">
        <input type="submit" value="search">
    </form>
    <br><br> 

    {{response}}
    
</body>
</html>

